.toggler {
  border: none;

  &:focus {
    outline: none;
  }

  &:hover span {
    color: rgb(206, 16, 16);
  }
}

.remove-btn {
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 0;
  font-size: 15px;
  padding: 2px 4px;
}

.shopping-list-group {
  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
}

input[type='text'] {
  &:active,
  &:focus {
    border-color: #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #343a40;
  }
}
